{% extends "layout.html" %}
{% block heading %}
Drafts
{% endblock %}
{% block subheading %}
This page contains drafts. Please do not share this page.
{% endblock %}
{% block content %}
<div class="w3-cell w3-mobile" id="test">
    <div class="w3-animate-bottom w3-light-grey w3-card-4 w3-round-large w3-padding w3-margin">
        <h1>Making a Super Simple Language</h1>
        <!-- Generated using StackEdit. -->
    </div>
</div>
{% endblock %}
