<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Coa{% endblock %}</title>
        <!--TODO: Use https://coalang.gitlab.io/static for all CSS soon-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <script>
          function nav_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
            var divsToHide = document.getElementsByClassName("hide-on-close-nav");
            for(var i = 0; i < divsToHide.length; i++){
                divsToHide[i].style.display = "block";
            }
            var divsToHide = document.getElementsByClassName("show-on-close-nav");
            for(var i = 0; i < divsToHide.length; i++){
                divsToHide[i].style.display = "none";
            }
          }
          function nav_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
            var divsToHide = document.getElementsByClassName("hide-on-close-nav");
            for(var i = 0; i < divsToHide.length; i++){
                divsToHide[i].style.display = "none";
            }
            var divsToHide = document.getElementsByClassName("show-on-close-nav");
            for(var i = 0; i < divsToHide.length; i++){
                divsToHide[i].style.display = "block";
            }
          }
        </script>
        <style>
            .cdel-accent {
                background-color: #77b7ff;
                color: #fff;
            }
        </style>
        {% block head_add %}{% endblock %}
    </head>
    <body style="scroll-behavior: smooth;" {% block bodyoptions %}{% endblock %}>
        <div id="start" style="visibility: hidden;"></div>
        {% block start %}{% endblock %}
        <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display: none;" id="mySidebar">
            <button id="closeNav" class="w3-bar-item w3-btn w3-padding w3-large w3-margin-bottom" style="transition: 0.5s; position: absolute;"
                    onclick="nav_close();">&times;</button>
            <button id="closeNav" class="w3-bar-item w3-btn w3-padding w3-large w3-margin-bottom" style="transition: 0.5s;"
                    onclick="nav_close();">&times;</button>
            <img alt="Profile picture" src="https://gitlab.com/coalang/assets/-/raw/master/icon.svg" class="w3-circle w3-rest w3-margin-bottom" style="object-fit: cover;">
            {% block nav %}{% endblock nav %}
            <div class="w3-bar-item w3-btn w3-margin-bottom" style="transition: 0.5s;">
                <a href="https://gitlab.com/coalang" class="w3-text-blue w3-hover-text-black" style="transition: 0.5s; text-decoration: none;" id="contact-gitlab">
                    <i class="fa fa-gitlab w3-large"></i>
                </a>
            </div>
            <div class="w3-bar-item w3-btn w3-margin-bottom" style="transition: 0.5s;">
                Badges<br /><br />
                <label>Site</label> <img src="https://gitlab.com/coalang/coalang.gitlab.io/badges/master/pipeline.svg"></img><br />
                <label>Go Compiler</label> <img src="https://gitlab.com/coalang/go-compiler/badges/master/pipeline.svg"></img><br />
            </div>
            <div class="w3-bar-item w3-btn w3-margin-bottom" style="transition: 0.5s;">
                <!-- CC BY 4.0 Attribution (auto-generated): -->
                <p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text"><a rel="cc:attributionURL" property="dct:title" href="https://coalang.gitlab.io">This website</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://coalang.gitlab.io">Coa</a> is licensed under <a rel="license" href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" /></a></p>
            </div>
        </div>
        <div id="main" class="w3-mobile">
            <div class="cdel-accent w3-card-4 w3-mobile">
                <button id="openNav" class="w3-btn w3-padding cdel-accent w3-large w3-round-large w3-animate-top" style="transition: 0.5s;" onclick="nav_open();">
                    <span class="material-icons">
                        more_vert
                    </span>
                </button>
                <button id="openNavPadding" class="w3-button w3-padding w3-large" style="visibility: hidden; background-color: transparent; color: transparent;">
                    <span class="material-icons">
                        more_vert
                    </span>
                </button>
                <div class="w3-container w3-row" style="display: inline;">
                    <div class="w3-padding w3-threequarter">
                        <h1>{% block heading %}Coa{% endblock %}</h1>
                        <p>{% block subheading %}{% endblock %}</p>
                    </div>
                </div>
            </div>
            <div class="w3-container">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </body>
</html>
