{% extends "layout.html" %}

{% block heading %}
Coa
{% endblock %}

{% block bodyoptions %}
onload="nav_open();"
{% endblock %}

{% block nav %}
<a href="/#start" class="w3-bar-item w3-btn w3-margin-bottom" style="transition: 0.5s;">Coa</a>
<a href="/#intro" class="w3-bar-item w3-btn w3-margin-bottom" style="transition: 0.5s;">Introduction</a>
<a href="/#features" class="w3-bar-item w3-btn w3-margin-bottom" style="transition: 0.5s;">Features</a>
{% endblock nav %}

{% block content %}
<div class="w3-cell w3-mobile" id="intro">
    <h1>Easy to learn with a simple syntax</h1>
    <table>
        <tr>
            <th>Coa</th>
            <td><span class="w3-code">
chain.=( links.=(.num..type 4) )
chain..to.text.=([ .re('I have "links" links') ])
            </span></td>
        </tr>
        <tr>
            <th>Go</th>
            <td><span class="w3-code">
type Chain struct { links int }
func (c Chain) String() string { return fmt.Sprintf("I have %v links", c.links) }
            </span></td>
        </tr>
        <tr>
            <th>TypeScript <i class="fa fa-js-square w3-large"></i></th>
            <td><span class="w3-code">
class Chain {
  links: number = 4
  public toString() = () : string => { return `I have ${this.links} links` };
}
            </span></td>
        </tr>
        <tr>
            <th>Python</th>
            <td><span class="w3-code">
class Chain:
    def __init__(links: int): self.links = links
    def __str__(self): return f'I have {self.links} links'
            </span></td>
        </tr>
    </table>
</div>
<div class="w3-cell w3-mobile" id="features">
    <h1>Features</h1>
    <table>
        <tr>
            <th>Asynchronous</th>
            <td><span class="w3-code">
{
  # Asynchronous Programming
  Markdown can be used here.
}
http.=(..dev.coa.core.ips.http) { packages are imported whenever referenced }
req0.=(http.get('https://en.wikipedia.org')) { all calls are automatically async calls }
req0.=(http.get('https://wikimedia.org'))
.io.out(req0.re) { `.re` blocks until a result is ready }
.io.out(req1.re)
            </span><span class="w3-code">
$ coa run async.coa
✓ compiled in 1.23 s
{ ..dev.coa.core.ips.http.request for https://en.wikipedia.org in 4.00 s }
{ ..dev.coa.core.ips.http.request for https://wikimedia.org in 4.00 s }
✓ ran in 4.56 s
            </span></td>
        </tr>
        <tr>
            <th>Cross Language Programming</th>
            <td><span class="w3-code">
python3.=( ..dev.coa.lang.python3 )
python3.sys.version_info.minor.>=(9)([
  .io.out('You can use type hinting! :)')
]).!([
  .io.out('You can't use type hinting. :(')
])
            </span><span class="w3-code">
$ coa run async.coa
✓ compiled in 1.23 s
You can use type hinting! :)
✓ ran in 4.56 s
            </span></td>
        </tr>
    </table>
</div>
{% endblock %}
